[submodule "modding_docs"]
	path = modding_docs
	url = https://github.com/CDPR-Modding-Documentation/Cyberpunk-Modding-Docs
[submodule "WolvenKit"]
	path = WolvenKit
	url = https://github.com/WolvenKit/WolvenKit
[submodule "tools/ghostline-red"]
	path = tools/ghostline-red
	url = https://github.com/hlky/ghostline-red.git
